# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.tar.gz
venv
# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Development
.env
.venv
*.bak
*.swp
*~
*.sass-cache

# IDEs
.vscode
.idea
*.sublime-project
*.sublime-workspace

# OS generated
.DS_Store
Thumbs.db
staticfiles