# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.tar.gz
venv
# Django
*.log
*.pot
*.pyc
db.sqlite3
media
node_modules

# Development
.env
.venv
*.bak
*.swp
*~
*.sass-cache

# IDEs
.vscode
.idea
*.sublime-project
*.sublime-workspae

# OS generated
.DS_Store
Thumbs.db
staticfiles
pythonenv3.9