{% extends 'base.html' %}


{% block main %}
<div class="h-[90%]">
<div class="w-full my-10 px-10">
<div class="chat chat-start h-full">
  <div class="chat-bubble">Hello, I am Devcompete AI</div>
</div>
<div class="chat chat-end">
  <div class="chat-bubble">You underestimate my power!</div>
</div>
<div class="chat chat-start h-full">
  <div class="chat-bubble">Hello, I am Devcompete AI</div>
</div>
</div>
<div class="fixed bottom-8 w-full">
<div class="flex justify-center">
<input type="text" class="w-1/2 border-2 border-primary bg-base-300 input input-bordered text-black rounded-lg p-2" placeholder="Type your message here...">
</div>
</div>
</div>

{% endblock main %}