{% load static %}

<!DOCTYPE html>
<html data-theme="night">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.0.4/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.1/ace.js"
      integrity="sha512-a9+UssxQ7SRBDf5iwiGlGP1WezkIpdqKKIO37B3ellyQRjdrpj+NuDWme/nJQXkALyVpahGXRpJX7mLTvctyoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>
    <link href="https://db.onlinewebfonts.com/c/8cdbb48678e4418f22a2f507c2b975bd?family=Blanka-Regular" rel="stylesheet">
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block main %}{% endblock %}
  </body>
</html>
