{% extends "base.html" %} {% block main %}
<div>
  <div class="m-12">
    <h1 class="text-2xl font-bold m-8">Create Contest</h1>
    <div class="container mx-auto flex-row">
      <div class="w-1/2 pr-8 flex-col">
        <label
          for="contest_name"
          class="block text-gray-700 text-sm font-bold mb-2"
          >Contest Name:</label
        >
        <input
          type="text"
          id="contest_name"
          name="contest_name"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        />
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="start_datetime"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Start Date and Time:</label
        >
        <input
          type="datetime-local"
          id="start_datetime"
          name="start_datetime"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        />
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="finish_datetime"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Finish Date and Time:</label
        >
        <input
          type="datetime-local"
          id="finish_datetime"
          name="finish_datetime"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        />
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="description"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Description:</label
        >
        <textarea
          id="description"
          name="description"
          rows="4"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        ></textarea>
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="rules"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Rules:</label
        >
        <textarea
          id="rules"
          name="rules"
          rows="4"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        ></textarea>
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="prices"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Prices:</label
        >
        <input
          type="text"
          id="prices"
          name="prices"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        />
      </div>

      <div class="w-1/2 pr-8 flex-col">
        <label
          for="assigning_contest"
          class="block text-gray-700 text-sm font-bold mb-2 mt-4"
          >Assigning Contest:</label
        >
        <input
          type="text"
          id="assigning_contest"
          name="assigning_contest"
          class="w-full px-3 py-2 border rounded shadow appearance-none mb-4"
          required
        />
      </div>
    </div>

    <div class="flex items-center justify-between mt-4">
      <button
        onclick="submitForm()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Create Contest
      </button>
    </div>
  </div>
</div>
{% endblock %}
