{% extends "base.html" %} {% block main %}
<div>
  <div class="container mx-auto bg-gradient-to-bl from-white to-blue-100">
    <div class="flex flex-column content-center"></div>
    <div
      class="h-96 pl-10 pt-7 text-4xl text-black-100 font-sans font-bold text-center"
    >
      Code, Compete, Conquer Together Live.
    </div>
    <div>
      <div class="flex flex-row justify-center">
        <div class="flex flex-col">
          </div>
    </div>

    <div></div>
  </div>
</div>
{% endblock main %}
