{% extends "base.html" %} {% block main %}
<div>

  <div class="container mx-auto bg-gradient-to-bl from-white to-blue-100">
    <div class="flex flex-column content-center"></div>
    <div></div>
    <style>
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    
      .fadeInAnimation {
        animation: fadeIn 1.1s ease-in-out; /* You can adjust the duration and timing function as needed */
      }
    </style>
    
    <div class="hero min-h-screen bg-base-100">
      <div class="hero-content text-center">
        <div class="max-w-full">
          <h1 class="text-5xl font-bold fadeInAnimation ">Code, Compete, Conquer Together Live</h1>
          <p class="py-6 fadeInAnimation">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <button class="btn btn-primary fadeInAnimation">Get Started</button>
        </div>
      </div>
    </div>
    
    </div>




<!-- Created By Joker Banny -->
<div class="flex h-screen items-center justify-start bg-white px-6 md:px-20 my-40">
  <div class="space-y-60 border-l-2 border-dashed">
    <div class="relative w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-1 z-10 -ml-4 h-10 w-10 rounded-full text-blue-500">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
      <div class="ml-8">
        <h4 class="font-bold text-blue-500 text-lg">Frontend Development.</h4>
        <p class="mt-2 max-w-screen-sm text-base text-gray-500">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
        <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
      </div>
    </div>
  
    <div class="relative w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-1 z-10 -ml-4 h-10 w-10 rounded-full text-blue-500">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
      <div class="ml-8">
        <h4 class="font-bold text-blue-500 text-lg">Frontend Development.</h4>
        <p class="mt-2 max-w-screen-sm text-base text-gray-500">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
        <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
      </div>
    </div>
    <div class="relative w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-1 z-10 -ml-4 h-10 w-10 rounded-full text-blue-500">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
      <div class="ml-8">
        <h4 class="font-bold text-blue-500 text-lg">Frontend Development.</h4>
        <p class="mt-2 max-w-screen-sm text-base text-gray-500">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
        <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
      </div>
    </div>
    <div class="relative w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-1 z-10 -ml-4 h-10 w-10 rounded-full text-blue-500">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
      <div class="ml-8">
        <h4 class="font-bold text-blue-500 text-lg">Frontend Development.</h4>
        <p class="mt-2 max-w-screen-sm text-base text-gray-500">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</p>
        <span class="mt-1 block text-sm font-semibold text-blue-500">2007</span>
      </div>
    </div>
  </div>
</div>



    </div>



    
    <div class="text-center my-80">
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
          Compete and Grow with <span class="text-blue-600 dark:text-blue-500">CoderRank</span> 
      </h1>
      <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        Code Fast, Compete with Friends: Time-based Coding Thrills Await!
      </p>
  </div>






  

    <div>
      <div class="flex flex-row justify-center">
        <div class="flex flex-col">
          </div>
    </div>

    <div></div>
  </div>
  
</div>
{% endblock main %}
