{% load static %}
<div class="navbar bg-base-300 shadow-xl shadow-blue-700/50 sticky top-0 z-50">
   
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"
              />
            </svg>
          </label>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 border-2 border-primary"
          >
            <li><a href="/">Homepage</a></li>
            <li><a href="{% url 'contests' %}">Contest</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost font-[Blanka-Regular] text-2xl text-primary">DevCompete</a>
      </div>
      <div class="navbar-end">
        {% if request.user.is_authenticated %}
          <span class="text-2xl text-center text-primary">{{ request.user.username }}</span>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="pic" src="{% static 'images/profile.jpg' %} "/>
            </div>
          </label>
          <ul
            tabindex="0"
            class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 border-2 border-primary"
          >
            {% comment %} <li>
              <a class="justify-between"> Profile </a>
            </li>
            <li><a>Settings</a></li> {% endcomment %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-ghost btn-circle mx-2">
            
            <button class="btn btn-primary">Login</button>

        </a>
        {% endif %}
      </div>
    </div>
